@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');
:root{
    
    --primary:#fc7061;
    --Text:#6b7280;
    --background:#fbe9e7;
    --headingcolor:#475569;
    --offwhitesection:#fce3e0;
    

}
body{
    font-family: 'Roboto Slab', serif;
   
    background-color: var(--background);
    margin: 0;
}
.navigation{
    background-color: var(--primary);
    padding:1rem;
    border-bottom-left-radius: 2rem;
    margin-bottom: 2rem;
    
}
.nav-brand{
    
    position: absolute;
    
    
}
.nav-brand img{
    height:80px;
    width: 80px;
    
}
.nav-list{
    display: flex;
    justify-content: end;
    list-style-type: none;
  
    
   
}
.nav-list-item{

    margin: .8rem;
    
    
}
.nav-links{
    color: var(--background);
    text-decoration: none;
}
.nav-links:hover{

    color: snow;
    transition: .5s;

}
.link-active{
    font-weight: bolder;
    border-bottom-width: 2px;
    border-bottom-style: solid;

}

.hero{
    padding: 2rem;
    text-align: center;
    color: var(--headingcolor);
    
}
.hero-img{
    max-width: 380px;
    display: block;
    margin: 0 auto;
}
.span-text{
    color: var(--primary);
}
.about{
    color: var(--primary);
    font-weight: 700;
}
.accenture{
    
    text-decoration: none;
    color: #A100FF;
    font-weight: 700;
}

.section{
    
    margin: 2rem auto;
    color: #6b7280;;
    max-width: 720px;
    text-align: center;
    padding: 2rem;
   
    
}
.section-offwhite{

    background-color: var(--offwhitesection)
}
.btn-primary{

    background-color: var(--background);
    color: var(--primary);
    padding:.5rem 1rem ;
    border-radius: .4rem;
    cursor: pointer;
    border: 1px solid var(--primary);
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
   
}
.btn-secondary{
    background-color: var(--background);
    padding: .5rem 1rem;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: .4rem;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;

}
.btn-primary:hover,.btn-secondary:hover{

    background-color: var(--primary);
    color: var(--background);
    transition: .7s;
}
.footer{
    background-color: var(--primary);
    color: var(--background);
    text-align: center;
    padding: 1rem;
}

.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
}
.footer-list-item{

    margin: 0rem 1rem;
    font-size: 24px;
}
 .footer-list-item a{
    color: var(--background);
 }
.container{
    padding: 1rem;
    margin: 1rem;
}
.container-centered{

    margin: 0 auto;
    text-align: center;
}
.container-centered h2{
    text-align: center;
}

