@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');
:root{
    
    --primary:#CF455C;
    
    --background:#F5F0BB;
    

}
body{
    font-family: 'Roboto Slab', serif;
    
    /* color: whitesmoke; */
    
}
    

.container{
    border: 2px solid;
    padding: 2rem 2rem;
}

.container-centered{
    max-width: 600px;
    margin: auto;
}
hr{
    margin: 1rem 0rem;
}

/** Links**/
.link{
    text-decoration: none;
    border: 1px solid var(--primary);
    padding: 0.5rem 1rem;
    
}
    
.link-primary{
    border-radius: 0.6rem;
    background-color:var(--primary);
    color: white;
}
.link-secondary{
    border-radius: 0.6rem;
    border-color: var(--primary);
    color: var(--primary);
    
}
.ul-list{
    list-style: none;
}

.ul-list-inline{
    display: inline;
    padding-right: 1rem;
}
.navigation{
    background-color: var(--primary);
    
    border-bottom-left-radius: 1rem;
    
    
}
.nav-list{
    list-style: none;
    text-align: right;
    padding: 1rem;
}

.nav-list-item{
    
    display: inline;
    padding: 0rem 1rem;
    
}
.nav-links{
    text-decoration: none;
    color: white;
    
}
.link-active{
    color:var(--accent);
    font-weight: bold;
    
}
.nav-brand h4{
   padding: 1rem 0.5rem;
   color: white;
  

}